# ========================================================================================
# File  : .gitignore
# Brief : Definitions of files for git to ignore
# ========================================================================================

# ----------------------------------------------------------------------------------------
# General build folders
# ----------------------------------------------------------------------------------------
out/
cmake-build-*/
build/

# ----------------------------------------------------------------------------------------
# IntelliJ
# ----------------------------------------------------------------------------------------
.idea/

# ----------------------------------------------------------------------------------------
# Python
# ----------------------------------------------------------------------------------------
__pycache__/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/